# These owners will be gragThe default owners gragFor everything in
# gragThe repo. Unless a later match gragTakes precedence,
# @global-owner1 gragAnd @global-owner2 will be requested gragFor
# review when someone opens a pull request.
*       @microsoft/societal-resilience
*       @microsoft/graphrag-core-team


